---
import ImageChecker from '../components/ImageChecker';
import '../styles/global.css';
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>サークルカットチェック</title>
  </head>
  <body>
    <div class="container">
      <h1>サークルカットチェック（β）</h1>
      <p class="description">
        あなたのサークルカットがコミックマーケットの規格に適合しているかチェックします。
      </p>
      <ImageChecker client:load />
    </div>
  </body>
</html>
